// _common.scss
@import 'mixins';

.common-button {
    @include button($white-color, $secondary-color);
    font-weight: bold;
    display: inline-block;
}

.common-text {
    font-size: 18px;
    margin-left: 12px;
}
