@import 'https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap';
* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.slide__wrapper {
  overflow: hidden;
  margin: 0 auto;
  max-width: 1950px;
  width: 100%;
}

.splide .splide__img {
  max-width: 34.5rem;
  width: 100%;
  max-height: 20rem;
  height: 100%;
}
.splide h2 {
  text-align: center;
  font-size: 3rem;
  line-height: 3.522rem;
  font-weight: 700;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.splide .splide__arrows {
  position: absolute;
  top: 70%;
  left: 7em;
  right: 7em;
}
@media (max-width: 375px) {
  .splide .splide__arrows {
    top: 80%;
    right: 2em;
    left: 2em;
  }
}
@media (max-width: 640px) {
  .splide .splide__arrows {
    top: 85%;
  }
}
.splide .splide__arrow {
  background: #87DE87;
  width: 6rem;
  height: 6rem;
  opacity: 1;
  cursor: pointer;
}
@media (max-width: 375px) {
  .splide .splide__arrow {
    background: #FEFEFE;
    width: 3rem;
    height: 3rem;
    opacity: 1;
  }
}
@media (max-width: 640px) {
  .splide .splide__arrow {
    width: 3rem;
    height: 3rem;
    opacity: 1;
  }
}
@media (max-width: 375px) {
  .splide .splide__arrow img {
    width: 1.5rem;
    height: 1.5rem;
  }
}
@media (max-width: 640px) {
  .splide .splide__arrow img {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.header {
  background-color: #87DE87;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 120rem;
  height: 6.313rem;
  margin: 0 auto;
  color: #333333;
}
.header .header__logo {
  width: 7.5rem;
  height: 3.25rem;
  padding: 1.5rem 0 2.172rem 6.75rem;
}
.header .nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  font-weight: 600;
}
.header .nav .nav__button {
  background-color: #FEFEFE;
  color: #333333;
  padding-left: 0.75rem;
  padding-right: 0.688rem;
  height: 2.5rem;
  margin-right: 1.75rem;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.313rem;
  text-transform: uppercase;
  border: none;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.hero {
  background-image: url("../images/wind-turbines.png");
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  max-width: 120rem;
  height: 40rem;
  margin: 0 auto;
}
.hero .hero__content {
  width: 39.188rem;
  max-width: 39.188rem;
  height: 14.25rem;
  background-color: #87DE87;
  margin-left: 12.25rem;
}
.hero .hero__content .paragraph-container {
  background-color: #333333;
  color: #FEFEFE;
  width: 37.188rem;
  max-width: 37.188rem;
  height: 14.25rem;
  padding-left: 1.5rem;
  padding-right: 1.188rem;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.313rem;
  margin-left: 2rem;
}
.hero .hero__content h1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.5rem;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.cards-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FEFEFE;
  padding: 7.5rem 0px 7.5rem 0px;
  max-width: 106.5rem;
  margin: 0 auto;
}
.cards-section h2 {
  font-size: 3rem;
  line-height: 3.5rem;
  text-align: center;
  padding-bottom: 5.375rem;
  color: #333333;
  font-weight: 700;
}
.cards-section .cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0px 1.5rem;
}
.cards-section .cards .card {
  display: flex;
  flex-direction: column;
  background-color: #333333;
  justify-content: center;
  align-items: flex-start;
  color: #FEFEFE;
  font-size: 1.125rem;
  padding-top: 2rem;
}
.cards-section .cards .card .card__header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cards-section .cards .card .card-text-container {
  font-size: 1.5rem;
  line-height: 1.75rem;
  display: flex;
  flex-direction: column;
}
.cards-section .cards .card .card-text-container p {
  font-weight: 600;
  padding-left: 1.5rem;
  padding-bottom: 0.313rem;
}
.cards-section .cards .card .card-text-container p:nth-child(2) {
  font-weight: 400;
  font-style: italic;
}
.cards-section .cards .card .card__header__icon {
  background-color: #87DE87;
  border-radius: 50%;
  width: 7.5rem;
  height: 7.5rem;
  margin: 0px 0px 1.063rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cards-section .cards .card .card__header__icon img {
  height: 4.375rem;
  width: 4.375rem;
}
.cards-section .cards .card .card__header__icon .icon-connection {
  height: 3.375rem;
}
.cards-section .cards .card .card__header__icon .icon-windmill {
  width: 2.858rem;
  height: 3.875rem;
}
.cards-section .cards .card .card-text {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.313rem;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2.125rem;
  padding-bottom: 2rem;
}

.energy-farm {
  background-color: #333333;
  color: #FEFEFE;
  max-width: 120rem;
  margin: 0 auto;
  padding-bottom: 6rem;
}
.energy-farm h2 {
  font-size: 3rem;
  line-height: 3.5rem;
  text-align: center;
  padding: 4rem 0px 7.313rem 0px;
}
.energy-farm .energy-farm__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 6rem;
  gap: 8rem 0px;
  max-width: 106.5rem;
  margin: 0 auto;
  flex-flow: row wrap;
}
.energy-farm .energy-farm__info .image-container__one {
  background-color: #87DE87;
  width: 43.5rem;
  height: 30rem;
}
.energy-farm .energy-farm__info .image-container__one .image__one {
  background-image: url(../images/windmill.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 41.5rem;
  height: 30rem;
}
.energy-farm .energy-farm__info .image-container__two {
  background-color: #87DE87;
  width: 43.5rem;
  height: 30rem;
}
.energy-farm .energy-farm__info .image-container__two .image__two {
  background-image: url(../images/wind-farm.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 41.5rem;
  height: 30rem;
  margin-left: 2rem;
}
.energy-farm .energy-farm__text_one, .energy-farm .energy-farm__text_two {
  max-width: 43.5rem;
}
.energy-farm .energy-farm__text_one p, .energy-farm .energy-farm__text_two p {
  font-size: 1.125rem;
  line-height: 1.321rem;
  padding-bottom: 0.75rem;
}
.energy-farm .energy-farm__text_one h3, .energy-farm .energy-farm__text_two h3 {
  font-size: 2rem;
  line-height: 2.625rem;
  padding-bottom: 0.75rem;
}
.energy-farm .energy-farm__text_one:first-child {
  padding-left: 9rem;
}
.energy-farm .energy-farm__text_two {
  padding: 0 9rem 0 0;
}
.energy-farm .learn-more {
  display: flex;
  justify-content: center;
}
.energy-farm .learn-more button {
  align-items: center;
  background-color: #87DE87;
  color: #333333;
  font-size: 1.1rem;
  line-height: 1.321rem;
  width: 16.5rem;
  height: 4.5rem;
  text-align: center;
  border-radius: 0.75rem;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
}

.newsletter-signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333333;
  margin: 0 auto;
  padding: 7.5rem 0px 7.5rem 0px;
  text-align: center;
  margin: 0 auto;
  max-width: 120rem;
}
.newsletter-signup h2 {
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 700;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}
.newsletter-signup p {
  max-width: 52.5rem;
  text-align: center;
  padding-bottom: 4.375rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.761rem;
}
.newsletter-signup .newsletter-signup__input {
  width: 41.75rem;
  height: 4rem;
  padding: 0px 0.5rem 0px 1.25rem;
  background-color: #FEFEFE;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid white;
  border-radius: 0.75rem;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
}
.newsletter-signup .newsletter-signup__input input[type=email] {
  width: 23.75rem;
  outline: none;
  border: none;
  font-size: 1.125rem;
  line-height: 1.313rem;
  font-style: italic;
}
.newsletter-signup .newsletter-signup__input button {
  background-color: #87DE87;
  color: #333333;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.75rem;
  text-align: center;
  text-transform: uppercase;
  width: 7.5rem;
  height: 3rem;
  border-radius: 0.75rem;
  border: none;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.footer {
  background-color: #87DE87;
  color: #333333;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.313rem;
  max-width: 120rem;
  padding-bottom: 3rem;
  margin: 0 auto;
}
.footer .footer__logo {
  width: 13.938rem;
  height: 6.011;
  padding: 3rem 0px 1.875rem 6.75rem;
}
.footer .footer__content {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.footer .footer__content .info {
  display: flex;
  flex-direction: column;
  padding: 0px 11.625rem 0px 6.75rem;
}
.footer .footer__content .info .info__heading {
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: 600;
  padding-bottom: 0.625rem;
}
.footer .footer__content .info p, .footer .footer__content .info a {
  padding-bottom: 0.625rem;
}
.footer .footer__content .info a:first-child {
  padding-bottom: 1.125rem;
}
.footer .footer__content .info a:last-child {
  padding-bottom: 3.489rem;
}
.footer .footer__content .footer__links {
  display: flex;
  flex-direction: column;
  padding-right: 18.75rem;
}
.footer .footer__content .footer__links .products__heading {
  font-weight: 600;
  padding-bottom: 0.625rem;
}
.footer .footer__content .footer__links a {
  padding-bottom: 0.625rem;
}
.footer .footer__content .footer__company {
  display: flex;
  flex-direction: column;
  padding-right: 18.75rem;
}
.footer .footer__content .footer__company .company__heading {
  font-weight: 600;
  padding-bottom: 0.625rem;
}
.footer .footer__content .footer__company a {
  padding-bottom: 0.625rem;
}
.footer .footer__content .footer__socials {
  display: flex;
  flex-direction: column;
  padding-right: 15.75rem;
}
.footer .footer__content .footer__socials .footer__socials__heading {
  color: #000000;
  font-size: 1.125rem;
  line-height: 1.313rem;
  font-weight: 600;
  padding-bottom: 1.5rem;
}
.footer .footer__content .footer__socials .footer__socials__icons {
  display: flex;
  flex-direction: row;
  gap: 2rem 1.5rem;
}

.copyright {
  background: #333333;
  padding: 0.813rem 6.75rem 0.875rem 6.75rem;
  margin: 0 auto;
  max-width: 106.5rem;
}
.copyright .copyright__text {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #FEFEFE;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.313rem;
}
.copyright .copyright__text a:nth-child(2) {
  margin-left: auto;
}
.copyright .copyright__text a:last-child {
  padding-left: 2rem;
}/*# sourceMappingURL=main.css.map */