.common-button, .newsletter-signup input[type=submit] {
  background-color: #fff;
  color: #333333;
  padding: 10px 20px;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 400;
  display: inline-block;
}

.common-text {
  font-size: 18px;
  margin-left: 12px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  background-color: #87DE87;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 120rem;
  height: 6.313rem;
  margin: 0 auto;
  color: #333333;
}
.header .header__logo {
  width: 7.5rem;
  height: 3.25rem;
  padding: 1.5rem 0 2.172rem 6.75rem;
}
.header .nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  font-weight: 600;
}
.header .nav .nav__button {
  background-color: #fff;
  color: #333333;
  padding-left: 0.75rem;
  padding-right: 0.688rem;
  height: 2.5rem;
  margin-right: 1.75rem;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.313rem;
  text-transform: uppercase;
  border: none;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.hero {
  background-image: url("../images/wind-turbines.png");
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  max-width: 120rem;
  height: 40rem;
  margin: 0 auto;
}
.hero .hero__content {
  width: 39.188rem;
  height: 14.25rem;
  background-color: #87DE87;
  margin-left: 12.25rem;
}
.hero .hero__content .paragraph-container {
  background-color: #333333;
  color: #fff;
  width: 37.188rem;
  max-width: 37.188rem;
  height: 14.25rem;
  padding-left: 1.5rem;
  padding-right: 1.188rem;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.313rem;
  margin-left: 2rem;
}
.hero .hero__content h1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.5rem;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.cards-section {
  text-align: center;
  background-color: #fff;
  padding: 40px 20px;
}
.cards-section h2 {
  margin-bottom: 30px;
  font-size: 32px;
  color: #333333;
  font-weight: 400;
}
.cards-section .cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.cards-section .cards h4 {
  font-style: italic;
}
.cards-section .cards .card {
  background-color: #333333;
  padding: 20px;
  color: #fff;
  max-width: 100%;
  margin: 32px 8px;
  text-align: left;
}
.cards-section .cards .card__header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.cards-section .cards .card__header__icon {
  background-color: #38D377;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.cards-section .cards .card__header__icon img {
  width: 50%;
  height: auto;
}
.cards-section .cards .card-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cards-section .cards .card-text-container .card-title, .cards-section .cards .card-text-container .card-subtitle {
  display: block;
}
.cards-section .cards .card-title {
  font-size: 24px;
  color: white;
  margin: 10px 2px;
}
.cards-section .cards .card-subtitle {
  font-size: 18px;
  color: #b0b0b0;
  margin: 0;
}

.article-container {
  background-color: #444;
  color: #fff;
  padding: 40px 20px;
}
.article-container__windmill {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
}
.article-container__wind-farm {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
}
.article-container h2 {
  font-size: 38px;
  text-align: center;
  margin-bottom: 80px;
}
.article-container .windmill-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  padding: 10px;
}
.article-container .windmill-section__text {
  margin-right: 100px;
  padding-bottom: 120px;
}
.article-container .windmill-section h3 {
  font-size: 36px;
  font-weight: 400;
  line-height: 42.26px;
  text-align: left;
  margin-bottom: 20px;
}
.article-container .windmill-section p {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  text-align: left;
}
.article-container .wind-farm-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  padding: 10px;
}
.article-container .wind-farm-section__text {
  margin-left: 100px;
  padding-bottom: 60px;
}
.article-container .wind-farm-section h3 {
  font-size: 36px;
  font-weight: 400;
  line-height: 42.26px;
  text-align: left;
  margin-bottom: 20px;
}
.article-container .wind-farm-section p {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  text-align: left;
}
.article-container .learn-more {
  display: flex;
  justify-content: center;
}
.article-container .learn-more button {
  align-items: center;
  background-color: #87DE87;
  color: #333333;
  font-size: 1.1rem;
  line-height: 1.321rem;
  width: 16.5rem;
  height: 4.5rem;
  text-align: center;
  border-radius: 0.75rem;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
}

.image {
  width: 696px;
  height: 480px;
  display: flex;
  background-color: #87DE87;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.image__windmill {
  width: 664px;
  height: 480px;
  background-image: url("../images/windmill.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: auto;
}
.image__wind-farm {
  width: 664px;
  height: 480px;
  background-image: url("../images/wind-farm.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: auto;
}

.newsletter-signup {
  background-color: #fff;
  padding: 20px 600px;
  text-align: center;
  margin: 0 auto;
}
.newsletter-signup h3 {
  font-size: 36px;
  color: #333333;
  font-weight: 400;
}
.newsletter-signup p {
  font-size: 18px;
  color: #444;
}
.newsletter-signup input[type=email] {
  padding: 10px 20px;
  width: 400px;
  margin-bottom: 10px;
  border: 1px solid #333333;
  border-radius: 5px;
  font-size: 16px;
}
.footer {
  background-color: #333333;
  color: #fff;
  padding: 20px 40px;
  text-align: center;
}
.footer .footer-links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.footer .footer-links a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
}
.footer .footer-text {
  font-size: 14px;
}/*# sourceMappingURL=main.css.map */