// Variables
$primary-color: #64e361;
$secondary-color: #333;
$text-color: #444;
$white-color: #fff;
$border-radius: 5px;

// Mixins
@mixin global-font {
    font-family: 'Raleway', sans-serif; 
    font-size: 18px;
    font-weight: 600;
    line-height: 21.13px;
    text-align: left;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button($bg-color, $text-color, $padding: 10px 20px) {
    background-color: $bg-color;
    color: $text-color;
    padding: $padding;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: $border-radius; 
}

// Common styles
.common-button {
    @include button($white-color, $secondary-color);
    font-weight: bold;
    display: inline-block;
}

.common-text {
    font-size: 18px;
    margin-left: 12px;
}

// Body Styles
body {
    @include global-font;
    margin: 0;
    padding: 0;
    background-color: $white-color;
}

// Header
.header {
    background-color: $primary-color;
    padding: 20px;
    @include flex-center;
    justify-content: space-between;

    &__logo {
        width: 120px;
        height: 51.75px;
        margin-left: 6px;
    }

    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

        ul {
            list-style: none;
            display: flex;
            margin: 0;
            padding: 0;

            li {
                margin-right: 20px; 

                &:last-child {
                    margin-right: 20px; 
                }

                a {
                    text-decoration: none;
                    color: $secondary-color; 
                    font-weight: bold;
                }
            }
        }

        &__button {
            @extend .common-button; 
        }
    }
}

// Hero Section
.hero {
    background-image: url('public/images/wind-turbines.png');       
    height: 400px;
    color: $white-color;

    @include flex-center;
    justify-content: space-between;
    padding: 50px;

    &__content {
        max-width: 50%;
        .paragraph-container {
            display: flex;
            background-color: $primary-color;
            width: 627px;
            height: 228px;
            opacity: 1; 
            justify-content: flex-end; 
            align-items: center; 
            margin-left: 40px;
        }
        
        .paragraph {
            background-color: $secondary-color; 
            width: 595px;
            height: 100%; 
            opacity: 1; 
        }

        h1 {
            font-size: 48px;
            margin-left: 12px;
        }

        p {
            @extend .common-text; 
        }
    }

    img {
        max-width: 50%;
    }
}

// Cards Section
.cards-section {
    text-align: center;
    background-color: $white-color;
    padding: 40px 20px;

    h2 {
        margin-bottom: 30px;
        font-size: 32px;
        color: $secondary-color;
        font-weight: bold;
    }

    .cards {
        display: flex;
        justify-content: space-between;

        h4 {
            font-style: italic;
        }

        .card {
            background-color: $secondary-color; 
            padding: 20px;
            color: $white-color;
            max-width: 600px; 
            margin: 32px 8px; 
            text-align: left;

            &__header {
                display: flex;
                align-items: center;
                margin-bottom: 5px; 

                &__icon {
                    background-color: #38D377; 
                    border-radius: 50%;
                    width: 80px;
                    height: 80px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 20px; 
                }
                
                &__icon img {
                    width: 50%; 
                    height: auto;
                }
            }
        }
        
        .card-text-container {
            display: flex;
            flex-direction: column; 
            justify-content: center; 

            .card-title, .card-subtitle {
                display: block;
            }
        }

        .card-title {
            font-size: 24px;
            color: white;
            margin: 10px 2px;
        }
        
        .card-subtitle {
            font-size: 18px;
            color: #b0b0b0;
            margin: 0;
        }
    }
}

// Article Container
.article-container {
    background-color: $text-color;
    color: $white-color;
    padding: 40px 20px;

    &__windmill {
        display: flex; 
        justify-content: flex-end; 
        align-items: center; 
        margin-bottom: 30px;
        width: 100%;
    }

    &__wind-farm {
        display: flex; 
        justify-content: flex-start; 
        align-items: center; 
        margin-bottom: 30px;
        width: 100%;
    }

    h2 {
        font-size: 32px;
        text-align: center;
        margin-bottom: 80px;
    }

    .windmill-section {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 50%;
        padding: 10px;

        &__text {
            margin-right: 100px;
            padding-bottom: 120px;
        }
           
        h3 {
            font-size: 36px;
            font-weight: 600;
            line-height: 42.26px;
            text-align: left;
            margin-bottom: 20px;
        }

        p {
            font-size: 18px;
            font-weight: 400;
            line-height: 21.13px;
            text-align: left;
        }    
    }

    .wind-farm-section {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 50%;
        padding: 10px;

        &__text {
            margin-left: 100px;
            padding-bottom: 60px;
        }

        h3 {
            font-size: 36px;
            font-weight: 600;
            line-height: 42.26px;
            text-align: left;
            margin-bottom: 20px;
        }

        p {
            font-size: 18px;
            font-weight: 400;
            line-height: 21.13px;
            text-align: left;
        }    
    }

.image {
    width: 696px;
    height: 480px;
    display: flex;
    background-color: $primary-color; 
    justify-content: center; 
    align-items: center; 
    margin-bottom: 40px;

        &__windmill {
            width: 664px;
            height: 480px;
            background-image: url('public/images/windmill.png');  
            background-size: cover; 
            background-repeat: no-repeat;
            margin-right: auto;
        }


        &__wind-farm {
            width: 664px;
            height: 480px;
            background-image: url('public/images/wind-farm.png');
            background-size: cover;
            background-repeat: no-repeat;
            margin-left: auto;
        }
    }

    .learn-more {
        @include button($primary-color, $secondary-color);
        width: 264px;
        height: 72px;
        top: 2892px;
        left: 828px;
        gap: 0px;
        border-radius: 12px 12px 12px 12px;
        opacity: 0px;
        font-size: 18px;
        font-weight: 700;
        line-height: 21.13px;
        text-align: center;
        text-transform: uppercase;
        margin: 0 auto;
        display: block;
    }
}

// Form Styles
.newsletter-signup {
    background-color: $white-color;
    padding: 20px 600px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
        margin-bottom: 20px;
        font-size: 32px;
    }

    &__input {
        position: relative;
        width: 400px; 
        
        input {
            width: 100%;
            height: 50px; 
            padding-right: 110px; 
            padding-left: 20px; 
            border: 1px solid #ccc;
            border-radius: 12px; 
            box-sizing: border-box;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

            &::placeholder {
                font-style: italic;
            }
        }

        button {
            position: absolute;
            top: 50%;
            right: 5px;
            transform: translateY(-50%); 
            height: 60%; 
            padding: 0 18px;
            border: none;
            border-radius: 12px; 
            background-color: $primary-color; 
            color: $secondary-color;
            font-weight: bolder;
            font-size: 0.9rem;
            text-transform: uppercase;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            cursor: pointer;
        }
    }
}


