// Mixins
@mixin global-font {
    font-family: 'Raleway', sans-serif; 
    font-size: 18px;
    font-weight: 600;
    line-height: 21.13px;
    text-align: left;
}

// Body Styles
body {
    @include global-font;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
