// _cards.scss

.cards-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white;
    padding: 7.5rem 0px 7.5rem 0px;
    max-width: 106.5rem;
    margin: 0 auto;

    h2 {
        font-size: 3rem;
        line-height: 3.5rem;
        text-align: center;
        padding-bottom: 5.375rem;
        color: $grey;
        font-weight: 700;
    }

    .cards {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0px 1.5rem;

        .card {
            display: flex;
            flex-direction: column;
            background-color: $grey; 
            justify-content: center;
            align-items: flex-start;
            color: $white;
            font-size: 1.125rem;
            padding-top: 2rem;

            .card__header {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .card-text-container {
                font-size: 1.5rem;
                line-height: 1.75rem;
                display: flex;
                flex-direction: column;

                p {
                    font-weight: 600;
                    padding-left: 1.5rem;
                    padding-bottom: 0.313rem;
                }

                p:nth-child(2) {
                    font-weight: 400;
                    font-style: italic;
                }
            }
            

            .card__header__icon {
                background-color: $primary-color; 
                border-radius: 50%;
                width: 7.5rem;
                height: 7.5rem;
                margin: 0px 0px 1.063rem 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                
                img {
                    height: 4.375rem;
                    width: 4.375rem;
                }

                .icon-connection {
                    height: 3.375rem;
                }

                .icon-windmill {
                    width: 2.858rem;
                    height: 3.875rem;
                }
            }
            

        .card-text {
            font-size: 1.125rem;
            font-weight: 400;
            line-height: 1.313rem;
            margin: 0 auto;
            padding-left: 2rem;
            padding-right: 2.125rem;
            padding-bottom: 2rem;
        }
    }   

    }     
}