.copyright {
    background: $grey;
    padding: 0.813rem 6.75rem 0.875rem 6.75rem;
    margin: 0 auto;
    max-width: 106.5rem;

    .copyright__text {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: $white;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.313rem;

        a:nth-child(2) {
            margin-left: auto; 
        }

        a:last-child {
            padding-left: 2rem;
        }
    }
}