// _footer.scss

.footer {
    background-color: $secondary-color;
    color: $white;
    padding: 20px 40px;
    text-align: center;

    .footer-links {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        a {
            text-decoration: none;
            color: $white;
            font-weight: 400;
        }
    }

    .footer-text {
        font-size: 14px;
    }
}
