// _header.scss

.header {
    background-color: $primary-color;
    height: 6.313rem;
    @include flex-center;
    justify-content: space-between;
    max-width: 120rem;
    margin: 0 auto;

    &__logo {
        width: 8rem;
        height: 51.75px;
        padding-left: 2.172rem;
    }

    .nav {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: row;
        column-gap: 1.5rem;
        font-weight: 600;

        ul {
            list-style: none;
            display: flex;
            margin: 0;
            padding: 0;

            li {
                margin-right: 20px; 

                &:last-child {
                    margin-right: 20px; 
                }

                a {
                    text-decoration: none;
                    color: $secondary-color; 
                    font-weight: 400;
                }
            }
        }

        .nav__button {
            background-color: $white;
            color: $grey;
            padding-left: 0.75rem;
            padding-right: 0.688rem;
            height: 2.5rem;
            margin-right: 1.75rem;
            font-weight: 700;
            font-size: 1.125rem;
            line-height: 1.313rem;
            text-transform: uppercase;
            border: none;

        }
    }
}
