// _newsletter.scss

.newsletter-signup {
    background-color: $white;
    padding: 20px 600px;
    text-align: center;
    margin: 0 auto;

    h3 {
        font-size: 36px;
        color: $grey;
        font-weight: 400;
    }

    p {
        font-size: 18px;
        color: $text-color;
    }

    input[type="email"] {
        padding: 10px 20px;
        width: 400px;
        margin-bottom: 10px;
        border: 1px solid $grey;
        border-radius: $border-radius;
        font-size: 16px;
    }

    input[type="submit"] {
        @extend .common-button;
    }
}
